*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:yellow;
}
header{
        position: sticky;
        margin: 0px;
        padding: 15px;
        width: 70%;
        top: 0px;
        left: 450px;
        border-bottom: 2px solid black;

}

    

header li {
    padding: 25px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
    margin: 5px;
    background-color:yellowgreen;
}

header li a{
    text-decoration: none;
    color: white;
    border: 2px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
footer{
    position: absolute;
    right: 0;
    width: 50%;
    height: 80px;
    background-color: aquamarine;
    padding: 20px;
    
}
    
    
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: fuchsia;
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;    
}


li a {
    display: block;
    color: black;
    padding: 30px;
    text-decoration: none;
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    background-color: lime;
    

}
li a.active {
    background-color: orange;
    color: azure;
}
li a:hover:not(.active) {
    background-color: red;
    font-size: 30px;
    color: yellow;
}
div {
    margin-left: 25%;
    padding: 50px;

}
h1 {
    text-align: center;
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav{
    border: 15px;
    border-radius: 15px;
    padding: 20px;
    background-color: blue;
    color: azure;
}
.nav:hover{
    color: aquamarine;
    background-color: palevioletred;
    font-size: smaller;

}    
       
